include .ci.sh
include .gitconfig
include .github/workflows/ci.yml
include .github/workflows/publish.yml
include .gitignore
include .npmignore
include CHANGELOG.md
include LICENSE
include MANIFEST.in
include README.md
include asset_image_folder_open_solid.svg
include asset_image_github_brands.svg
include asset_image_logo_512.html
include asset_image_logo_512.png
include asset_image_logo_512.svg
include asset_sqlmath_external_rollup.js
include cpplint.py
include csslint.js
include indent.exe
include index.html
include jslint.mjs
include jslint_ci.sh
include libiconv2.dll
include libintl3.dll
include package.json
include pyproject.toml
include setup.py
include setuptools2/__init__.py
include setuptools2/_core_metadata.py
include setuptools2/_distutils/__init__.py
include setuptools2/_distutils/_collections.py
include setuptools2/_distutils/_functools.py
include setuptools2/_distutils/_log.py
include setuptools2/_distutils/_macos_compat.py
include setuptools2/_distutils/_msvccompiler.py
include setuptools2/_distutils/archive_util.py
include setuptools2/_distutils/bcppcompiler.py
include setuptools2/_distutils/ccompiler.py
include setuptools2/_distutils/cmd.py
include setuptools2/_distutils/command/__init__.py
include setuptools2/_distutils/command/_framework_compat.py
include setuptools2/_distutils/command/bdist.py
include setuptools2/_distutils/command/bdist_dumb.py
include setuptools2/_distutils/command/bdist_rpm.py
include setuptools2/_distutils/command/build.py
include setuptools2/_distutils/command/build_clib.py
include setuptools2/_distutils/command/build_ext.py
include setuptools2/_distutils/command/build_py.py
include setuptools2/_distutils/command/build_scripts.py
include setuptools2/_distutils/command/check.py
include setuptools2/_distutils/command/clean.py
include setuptools2/_distutils/command/command_template
include setuptools2/_distutils/command/config.py
include setuptools2/_distutils/command/install.py
include setuptools2/_distutils/command/install_data.py
include setuptools2/_distutils/command/install_egg_info.py
include setuptools2/_distutils/command/install_headers.py
include setuptools2/_distutils/command/install_lib.py
include setuptools2/_distutils/command/install_scripts.py
include setuptools2/_distutils/command/py37compat.py
include setuptools2/_distutils/command/register.py
include setuptools2/_distutils/command/sdist.py
include setuptools2/_distutils/command/upload.py
include setuptools2/_distutils/command/wininst-10.0-amd64.exe
include setuptools2/_distutils/command/wininst-10.0.exe
include setuptools2/_distutils/command/wininst-14.0-amd64.exe
include setuptools2/_distutils/command/wininst-14.0.exe
include setuptools2/_distutils/command/wininst-6.0.exe
include setuptools2/_distutils/command/wininst-7.1.exe
include setuptools2/_distutils/command/wininst-8.0.exe
include setuptools2/_distutils/command/wininst-9.0-amd64.exe
include setuptools2/_distutils/command/wininst-9.0.exe
include setuptools2/_distutils/config.py
include setuptools2/_distutils/core.py
include setuptools2/_distutils/cygwinccompiler.py
include setuptools2/_distutils/debug.py
include setuptools2/_distutils/dep_util.py
include setuptools2/_distutils/dir_util.py
include setuptools2/_distutils/dist.py
include setuptools2/_distutils/errors.py
include setuptools2/_distutils/extension.py
include setuptools2/_distutils/fancy_getopt.py
include setuptools2/_distutils/file_util.py
include setuptools2/_distutils/filelist.py
include setuptools2/_distutils/log.py
include setuptools2/_distutils/msvc9compiler.py
include setuptools2/_distutils/msvccompiler.py
include setuptools2/_distutils/py38compat.py
include setuptools2/_distutils/py39compat.py
include setuptools2/_distutils/spawn.py
include setuptools2/_distutils/sysconfig.py
include setuptools2/_distutils/tests/Setup.sample
include setuptools2/_distutils/tests/__init__.py
include setuptools2/_distutils/tests/includetest.rst
include setuptools2/_distutils/tests/py37compat.py
include setuptools2/_distutils/tests/py38compat.py
include setuptools2/_distutils/tests/support.py
include setuptools2/_distutils/tests/test_archive_util.py
include setuptools2/_distutils/tests/test_bdist.py
include setuptools2/_distutils/tests/test_bdist_dumb.py
include setuptools2/_distutils/tests/test_bdist_rpm.py
include setuptools2/_distutils/tests/test_build.py
include setuptools2/_distutils/tests/test_build_clib.py
include setuptools2/_distutils/tests/test_build_ext.py
include setuptools2/_distutils/tests/test_build_py.py
include setuptools2/_distutils/tests/test_build_scripts.py
include setuptools2/_distutils/tests/test_ccompiler.py
include setuptools2/_distutils/tests/test_check.py
include setuptools2/_distutils/tests/test_clean.py
include setuptools2/_distutils/tests/test_cmd.py
include setuptools2/_distutils/tests/test_config.py
include setuptools2/_distutils/tests/test_config_cmd.py
include setuptools2/_distutils/tests/test_core.py
include setuptools2/_distutils/tests/test_cygwinccompiler.py
include setuptools2/_distutils/tests/test_dep_util.py
include setuptools2/_distutils/tests/test_dir_util.py
include setuptools2/_distutils/tests/test_dist.py
include setuptools2/_distutils/tests/test_extension.py
include setuptools2/_distutils/tests/test_file_util.py
include setuptools2/_distutils/tests/test_filelist.py
include setuptools2/_distutils/tests/test_install.py
include setuptools2/_distutils/tests/test_install_data.py
include setuptools2/_distutils/tests/test_install_headers.py
include setuptools2/_distutils/tests/test_install_lib.py
include setuptools2/_distutils/tests/test_install_scripts.py
include setuptools2/_distutils/tests/test_log.py
include setuptools2/_distutils/tests/test_msvc9compiler.py
include setuptools2/_distutils/tests/test_msvccompiler.py
include setuptools2/_distutils/tests/test_register.py
include setuptools2/_distutils/tests/test_sdist.py
include setuptools2/_distutils/tests/test_spawn.py
include setuptools2/_distutils/tests/test_sysconfig.py
include setuptools2/_distutils/tests/test_text_file.py
include setuptools2/_distutils/tests/test_unixccompiler.py
include setuptools2/_distutils/tests/test_upload.py
include setuptools2/_distutils/tests/test_util.py
include setuptools2/_distutils/tests/test_version.py
include setuptools2/_distutils/tests/test_versionpredicate.py
include setuptools2/_distutils/tests/unix_compat.py
include setuptools2/_distutils/tests/xxmodule-3.8.c
include setuptools2/_distutils/tests/xxmodule.c
include setuptools2/_distutils/text_file.py
include setuptools2/_distutils/unixccompiler.py
include setuptools2/_distutils/util.py
include setuptools2/_distutils/version.py
include setuptools2/_distutils/versionpredicate.py
include setuptools2/_entry_points.py
include setuptools2/_imp.py
include setuptools2/_importlib.py
include setuptools2/_itertools.py
include setuptools2/_normalization.py
include setuptools2/_path.py
include setuptools2/_reqs.py
include setuptools2/_vendor/__init__.py
include setuptools2/_vendor/importlib_metadata-6.0.0.dist-info/INSTALLER
include setuptools2/_vendor/importlib_metadata-6.0.0.dist-info/LICENSE
include setuptools2/_vendor/importlib_metadata-6.0.0.dist-info/METADATA
include setuptools2/_vendor/importlib_metadata-6.0.0.dist-info/RECORD
include setuptools2/_vendor/importlib_metadata-6.0.0.dist-info/REQUESTED
include setuptools2/_vendor/importlib_metadata-6.0.0.dist-info/WHEEL
include setuptools2/_vendor/importlib_metadata-6.0.0.dist-info/top_level.txt
include setuptools2/_vendor/importlib_metadata/__init__.py
include setuptools2/_vendor/importlib_metadata/_adapters.py
include setuptools2/_vendor/importlib_metadata/_collections.py
include setuptools2/_vendor/importlib_metadata/_compat.py
include setuptools2/_vendor/importlib_metadata/_functools.py
include setuptools2/_vendor/importlib_metadata/_itertools.py
include setuptools2/_vendor/importlib_metadata/_meta.py
include setuptools2/_vendor/importlib_metadata/_py39compat.py
include setuptools2/_vendor/importlib_metadata/_text.py
include setuptools2/_vendor/importlib_metadata/py.typed
include setuptools2/_vendor/importlib_resources-5.10.2.dist-info/INSTALLER
include setuptools2/_vendor/importlib_resources-5.10.2.dist-info/LICENSE
include setuptools2/_vendor/importlib_resources-5.10.2.dist-info/METADATA
include setuptools2/_vendor/importlib_resources-5.10.2.dist-info/RECORD
include setuptools2/_vendor/importlib_resources-5.10.2.dist-info/REQUESTED
include setuptools2/_vendor/importlib_resources-5.10.2.dist-info/WHEEL
include setuptools2/_vendor/importlib_resources-5.10.2.dist-info/top_level.txt
include setuptools2/_vendor/importlib_resources/__init__.py
include setuptools2/_vendor/importlib_resources/_adapters.py
include setuptools2/_vendor/importlib_resources/_common.py
include setuptools2/_vendor/importlib_resources/_compat.py
include setuptools2/_vendor/importlib_resources/_itertools.py
include setuptools2/_vendor/importlib_resources/_legacy.py
include setuptools2/_vendor/importlib_resources/abc.py
include setuptools2/_vendor/importlib_resources/py.typed
include setuptools2/_vendor/importlib_resources/readers.py
include setuptools2/_vendor/importlib_resources/simple.py
include setuptools2/_vendor/importlib_resources/tests/__init__.py
include setuptools2/_vendor/importlib_resources/tests/_compat.py
include setuptools2/_vendor/importlib_resources/tests/_path.py
include setuptools2/_vendor/importlib_resources/tests/data01/__init__.py
include setuptools2/_vendor/importlib_resources/tests/data01/binary.file
include setuptools2/_vendor/importlib_resources/tests/data01/subdirectory/__init__.py
include setuptools2/_vendor/importlib_resources/tests/data01/subdirectory/binary.file
include setuptools2/_vendor/importlib_resources/tests/data01/utf-16.file
include setuptools2/_vendor/importlib_resources/tests/data01/utf-8.file
include setuptools2/_vendor/importlib_resources/tests/data02/__init__.py
include setuptools2/_vendor/importlib_resources/tests/data02/one/__init__.py
include setuptools2/_vendor/importlib_resources/tests/data02/one/resource1.txt
include setuptools2/_vendor/importlib_resources/tests/data02/two/__init__.py
include setuptools2/_vendor/importlib_resources/tests/data02/two/resource2.txt
include setuptools2/_vendor/importlib_resources/tests/namespacedata01/binary.file
include setuptools2/_vendor/importlib_resources/tests/namespacedata01/utf-16.file
include setuptools2/_vendor/importlib_resources/tests/namespacedata01/utf-8.file
include setuptools2/_vendor/importlib_resources/tests/test_compatibilty_files.py
include setuptools2/_vendor/importlib_resources/tests/test_contents.py
include setuptools2/_vendor/importlib_resources/tests/test_files.py
include setuptools2/_vendor/importlib_resources/tests/test_open.py
include setuptools2/_vendor/importlib_resources/tests/test_path.py
include setuptools2/_vendor/importlib_resources/tests/test_read.py
include setuptools2/_vendor/importlib_resources/tests/test_reader.py
include setuptools2/_vendor/importlib_resources/tests/test_resource.py
include setuptools2/_vendor/importlib_resources/tests/update-zips.py
include setuptools2/_vendor/importlib_resources/tests/util.py
include setuptools2/_vendor/importlib_resources/tests/zipdata01/__init__.py
include setuptools2/_vendor/importlib_resources/tests/zipdata01/ziptestdata.zip
include setuptools2/_vendor/importlib_resources/tests/zipdata02/__init__.py
include setuptools2/_vendor/importlib_resources/tests/zipdata02/ziptestdata.zip
include setuptools2/_vendor/jaraco.context-4.3.0.dist-info/INSTALLER
include setuptools2/_vendor/jaraco.context-4.3.0.dist-info/LICENSE
include setuptools2/_vendor/jaraco.context-4.3.0.dist-info/METADATA
include setuptools2/_vendor/jaraco.context-4.3.0.dist-info/RECORD
include setuptools2/_vendor/jaraco.context-4.3.0.dist-info/WHEEL
include setuptools2/_vendor/jaraco.context-4.3.0.dist-info/top_level.txt
include setuptools2/_vendor/jaraco.functools-3.6.0.dist-info/INSTALLER
include setuptools2/_vendor/jaraco.functools-3.6.0.dist-info/LICENSE
include setuptools2/_vendor/jaraco.functools-3.6.0.dist-info/METADATA
include setuptools2/_vendor/jaraco.functools-3.6.0.dist-info/RECORD
include setuptools2/_vendor/jaraco.functools-3.6.0.dist-info/WHEEL
include setuptools2/_vendor/jaraco.functools-3.6.0.dist-info/top_level.txt
include setuptools2/_vendor/jaraco.text-3.7.0.dist-info/INSTALLER
include setuptools2/_vendor/jaraco.text-3.7.0.dist-info/LICENSE
include setuptools2/_vendor/jaraco.text-3.7.0.dist-info/METADATA
include setuptools2/_vendor/jaraco.text-3.7.0.dist-info/RECORD
include setuptools2/_vendor/jaraco.text-3.7.0.dist-info/REQUESTED
include setuptools2/_vendor/jaraco.text-3.7.0.dist-info/WHEEL
include setuptools2/_vendor/jaraco.text-3.7.0.dist-info/top_level.txt
include setuptools2/_vendor/jaraco/__init__.py
include setuptools2/_vendor/jaraco/context.py
include setuptools2/_vendor/jaraco/functools.py
include setuptools2/_vendor/jaraco/text/Lorem ipsum.txt
include setuptools2/_vendor/jaraco/text/__init__.py
include setuptools2/_vendor/more_itertools-8.8.0.dist-info/INSTALLER
include setuptools2/_vendor/more_itertools-8.8.0.dist-info/LICENSE
include setuptools2/_vendor/more_itertools-8.8.0.dist-info/METADATA
include setuptools2/_vendor/more_itertools-8.8.0.dist-info/RECORD
include setuptools2/_vendor/more_itertools-8.8.0.dist-info/REQUESTED
include setuptools2/_vendor/more_itertools-8.8.0.dist-info/WHEEL
include setuptools2/_vendor/more_itertools-8.8.0.dist-info/top_level.txt
include setuptools2/_vendor/more_itertools/__init__.py
include setuptools2/_vendor/more_itertools/__init__.pyi
include setuptools2/_vendor/more_itertools/more.py
include setuptools2/_vendor/more_itertools/more.pyi
include setuptools2/_vendor/more_itertools/py.typed
include setuptools2/_vendor/more_itertools/recipes.py
include setuptools2/_vendor/more_itertools/recipes.pyi
include setuptools2/_vendor/ordered_set-3.1.1.dist-info/INSTALLER
include setuptools2/_vendor/ordered_set-3.1.1.dist-info/METADATA
include setuptools2/_vendor/ordered_set-3.1.1.dist-info/MIT-LICENSE
include setuptools2/_vendor/ordered_set-3.1.1.dist-info/RECORD
include setuptools2/_vendor/ordered_set-3.1.1.dist-info/REQUESTED
include setuptools2/_vendor/ordered_set-3.1.1.dist-info/WHEEL
include setuptools2/_vendor/ordered_set-3.1.1.dist-info/top_level.txt
include setuptools2/_vendor/ordered_set.py
include setuptools2/_vendor/packaging-23.1.dist-info/INSTALLER
include setuptools2/_vendor/packaging-23.1.dist-info/LICENSE
include setuptools2/_vendor/packaging-23.1.dist-info/LICENSE.APACHE
include setuptools2/_vendor/packaging-23.1.dist-info/LICENSE.BSD
include setuptools2/_vendor/packaging-23.1.dist-info/METADATA
include setuptools2/_vendor/packaging-23.1.dist-info/RECORD
include setuptools2/_vendor/packaging-23.1.dist-info/REQUESTED
include setuptools2/_vendor/packaging-23.1.dist-info/WHEEL
include setuptools2/_vendor/packaging/__init__.py
include setuptools2/_vendor/packaging/_elffile.py
include setuptools2/_vendor/packaging/_manylinux.py
include setuptools2/_vendor/packaging/_musllinux.py
include setuptools2/_vendor/packaging/_parser.py
include setuptools2/_vendor/packaging/_structures.py
include setuptools2/_vendor/packaging/_tokenizer.py
include setuptools2/_vendor/packaging/markers.py
include setuptools2/_vendor/packaging/metadata.py
include setuptools2/_vendor/packaging/py.typed
include setuptools2/_vendor/packaging/requirements.py
include setuptools2/_vendor/packaging/specifiers.py
include setuptools2/_vendor/packaging/tags.py
include setuptools2/_vendor/packaging/utils.py
include setuptools2/_vendor/packaging/version.py
include setuptools2/_vendor/tomli-2.0.1.dist-info/INSTALLER
include setuptools2/_vendor/tomli-2.0.1.dist-info/LICENSE
include setuptools2/_vendor/tomli-2.0.1.dist-info/METADATA
include setuptools2/_vendor/tomli-2.0.1.dist-info/RECORD
include setuptools2/_vendor/tomli-2.0.1.dist-info/REQUESTED
include setuptools2/_vendor/tomli-2.0.1.dist-info/WHEEL
include setuptools2/_vendor/tomli/__init__.py
include setuptools2/_vendor/tomli/_parser.py
include setuptools2/_vendor/tomli/_re.py
include setuptools2/_vendor/tomli/_types.py
include setuptools2/_vendor/tomli/py.typed
include setuptools2/_vendor/typing_extensions-4.0.1.dist-info/INSTALLER
include setuptools2/_vendor/typing_extensions-4.0.1.dist-info/LICENSE
include setuptools2/_vendor/typing_extensions-4.0.1.dist-info/METADATA
include setuptools2/_vendor/typing_extensions-4.0.1.dist-info/RECORD
include setuptools2/_vendor/typing_extensions-4.0.1.dist-info/REQUESTED
include setuptools2/_vendor/typing_extensions-4.0.1.dist-info/WHEEL
include setuptools2/_vendor/typing_extensions.py
include setuptools2/_vendor/vendored.txt
include setuptools2/_vendor/zipp-3.7.0.dist-info/INSTALLER
include setuptools2/_vendor/zipp-3.7.0.dist-info/LICENSE
include setuptools2/_vendor/zipp-3.7.0.dist-info/METADATA
include setuptools2/_vendor/zipp-3.7.0.dist-info/RECORD
include setuptools2/_vendor/zipp-3.7.0.dist-info/REQUESTED
include setuptools2/_vendor/zipp-3.7.0.dist-info/WHEEL
include setuptools2/_vendor/zipp-3.7.0.dist-info/top_level.txt
include setuptools2/_vendor/zipp.py
include setuptools2/archive_util.py
include setuptools2/cli-32.exe
include setuptools2/cli-64.exe
include setuptools2/cli-arm64.exe
include setuptools2/cli.exe
include setuptools2/command/__init__.py
include setuptools2/command/_requirestxt.py
include setuptools2/command/alias.py
include setuptools2/command/bdist_egg.py
include setuptools2/command/bdist_rpm.py
include setuptools2/command/build.py
include setuptools2/command/build_clib.py
include setuptools2/command/build_ext.py
include setuptools2/command/build_py.py
include setuptools2/command/develop.py
include setuptools2/command/dist_info.py
include setuptools2/command/easy_install.py
include setuptools2/command/editable_wheel.py
include setuptools2/command/egg_info.py
include setuptools2/command/install.py
include setuptools2/command/install_egg_info.py
include setuptools2/command/install_lib.py
include setuptools2/command/install_scripts.py
include setuptools2/command/launcher manifest.xml
include setuptools2/command/register.py
include setuptools2/command/rotate.py
include setuptools2/command/saveopts.py
include setuptools2/command/sdist.py
include setuptools2/command/setopt.py
include setuptools2/command/test.py
include setuptools2/command/upload.py
include setuptools2/command/upload_docs.py
include setuptools2/config/__init__.py
include setuptools2/config/_apply_pyprojecttoml.py
include setuptools2/config/_validate_pyproject/NOTICE
include setuptools2/config/_validate_pyproject/__init__.py
include setuptools2/config/_validate_pyproject/error_reporting.py
include setuptools2/config/_validate_pyproject/extra_validations.py
include setuptools2/config/_validate_pyproject/fastjsonschema_exceptions.py
include setuptools2/config/_validate_pyproject/fastjsonschema_validations.py
include setuptools2/config/_validate_pyproject/formats.py
include setuptools2/config/expand.py
include setuptools2/config/pyprojecttoml.py
include setuptools2/config/setupcfg.py
include setuptools2/dep_util.py
include setuptools2/depends.py
include setuptools2/discovery.py
include setuptools2/dist.py
include setuptools2/errors.py
include setuptools2/extension.py
include setuptools2/extern/__init__.py
include setuptools2/glob.py
include setuptools2/gui-32.exe
include setuptools2/gui-64.exe
include setuptools2/gui-arm64.exe
include setuptools2/gui.exe
include setuptools2/installer.py
include setuptools2/launch.py
include setuptools2/logging.py
include setuptools2/monkey.py
include setuptools2/msvc.py
include setuptools2/namespaces.py
include setuptools2/package_index.py
include setuptools2/py312compat.py
include setuptools2/sandbox.py
include setuptools2/script (dev).tmpl
include setuptools2/script.tmpl
include setuptools2/tests/__init__.py
include setuptools2/tests/_packaging_compat.py
include setuptools2/tests/config/__init__.py
include setuptools2/tests/config/downloads/.gitignore
include setuptools2/tests/config/downloads/__init__.py
include setuptools2/tests/config/downloads/preload.py
include setuptools2/tests/config/setupcfg_examples.txt
include setuptools2/tests/config/test_apply_pyprojecttoml.py
include setuptools2/tests/config/test_expand.py
include setuptools2/tests/config/test_pyprojecttoml.py
include setuptools2/tests/config/test_pyprojecttoml_dynamic_deps.py
include setuptools2/tests/config/test_setupcfg.py
include setuptools2/tests/contexts.py
include setuptools2/tests/environment.py
include setuptools2/tests/fixtures.py
include setuptools2/tests/indexes/test_links_priority/external.html
include setuptools2/tests/indexes/test_links_priority/simple/foobar/index.html
include setuptools2/tests/integration/__init__.py
include setuptools2/tests/integration/helpers.py
include setuptools2/tests/integration/test_pip_install_sdist.py
include setuptools2/tests/mod_with_constant.py
include setuptools2/tests/namespaces.py
include setuptools2/tests/script-with-bom.py
include setuptools2/tests/server.py
include setuptools2/tests/test_archive_util.py
include setuptools2/tests/test_bdist_deprecations.py
include setuptools2/tests/test_bdist_egg.py
include setuptools2/tests/test_build.py
include setuptools2/tests/test_build_clib.py
include setuptools2/tests/test_build_ext.py
include setuptools2/tests/test_build_meta.py
include setuptools2/tests/test_build_py.py
include setuptools2/tests/test_config_discovery.py
include setuptools2/tests/test_core_metadata.py
include setuptools2/tests/test_dep_util.py
include setuptools2/tests/test_depends.py
include setuptools2/tests/test_develop.py
include setuptools2/tests/test_dist.py
include setuptools2/tests/test_dist_info.py
include setuptools2/tests/test_distutils_adoption.py
include setuptools2/tests/test_easy_install.py
include setuptools2/tests/test_editable_install.py
include setuptools2/tests/test_egg_info.py
include setuptools2/tests/test_extern.py
include setuptools2/tests/test_find_packages.py
include setuptools2/tests/test_find_py_modules.py
include setuptools2/tests/test_glob.py
include setuptools2/tests/test_install_scripts.py
include setuptools2/tests/test_integration.py
include setuptools2/tests/test_logging.py
include setuptools2/tests/test_manifest.py
include setuptools2/tests/test_msvc14.py
include setuptools2/tests/test_namespaces.py
include setuptools2/tests/test_packageindex.py
include setuptools2/tests/test_register.py
include setuptools2/tests/test_sandbox.py
include setuptools2/tests/test_sdist.py
include setuptools2/tests/test_setopt.py
include setuptools2/tests/test_setuptools.py
include setuptools2/tests/test_test.py
include setuptools2/tests/test_unicode_utils.py
include setuptools2/tests/test_upload.py
include setuptools2/tests/test_virtualenv.py
include setuptools2/tests/test_warnings.py
include setuptools2/tests/test_wheel.py
include setuptools2/tests/test_windows_wrappers.py
include setuptools2/tests/text.py
include setuptools2/tests/textwrap.py
include setuptools2/unicode_utils.py
include setuptools2/version.py
include setuptools2/warnings.py
include setuptools2/wheel.py
include setuptools2/windows_support.py
include sqlite_rollup.c
include sqlmath.mjs
include sqlmath/__init__.py
include sqlmath/sqlmath_dbapi2.py
include sqlmath_base.c
include sqlmath_browser.mjs
include sqlmath_custom.c
include sqlmath_custom.mjs
include sqlmath_wrapper_wasm.js
include test.mjs
include test_data_sinefit.csv
